html,
body {
  background: #fff;
}

.container {
  background: rgb(202, 202, 202);
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 5%;
}

.about {
  width: 100%;
}

.btn {
  width: 100%;
}

.output {
  margin-top: 40px;
}

#output-path {
  font-weight: bold;
}
